/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
/lesson2.txt
/lesson3.txt
/lesson4.txt
/public/file_for_download.txt
/lesson5.txt
